{% extends "base.html" %}
{% load static %}

{% block title %}
My Blog
{% endblock %}

{% block css_file %}
    <link rel="stylesheet" href="{% static 'blog/post.css' %}"/>
    <link rel="stylesheet" href="{% static 'blog/index.css' %}"/>
{% endblock %}

{% block content %}
<header id="main-navigation">
    <h1><a href="#">Tomás' Blog</a></h1>
    <nav>
        <a href="#">All Posts</a>
    </nav>
</header>

<section id="welcome">
    <header>
        <img src="{% static 'blog/images/author.jpg' %}" alt="Tomás - The Author Of This Blog">
        <h2>TOMÁS'S BLOG</h2>
    </header>
    <p>Hi, I am Tomás and I love to blog about tech and the world!</p>
</section>

<section id="latest-posts">
    <h2>My Latest Thoughts</h2>
    <ul>
        {% include "blog/includes/post.html" %}
    </ul>
</section>

<section id="about">
    <h2>What I Do</h2>
    <p>
        I love programming, helping others, and exploring new
        technologies in general!
    </p>
    <p>
        My goal is to keep growing as a developer — and if I can help you do
        the same, I’d be very happy!
    </p>
</section>
{% endblock %}